# Ignore environment variables
.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment folder
TestFlight-Checker/

# Ignore configuration backup
*.bck

# Ignore App configuration file
apps_config.json

# Ignore log files
*.log
